# Jeopardy Project
In this project, we will work with a dataset of Jeopardy questions to figure out some patterns in the questions that could help us win.

In [1]:
# Read the dataset into dataframe
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')
# Print first 5 rows of jeopardy dataframe
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [2]:
# Print columns of jeopardy dataframe
print(jeopardy.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
# Rename the columns removing spaces in front of them
jeopardy.rename(columns = {' Air Date': 'Air Date', ' Round': 'Round', 
                            ' Category': 'Category', ' Value': 'Value',
                            ' Question': 'Question', ' Answer': 'Answer'}, inplace = True)
print(jeopardy.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [4]:
# Function to normalize questions and answers
import re
def normalize(string):
    string = string.lower()
    string = re.sub("[^A-Za-z0-9\s]", "", string)
    return string

In [5]:
# Normalize the Question column
jeopardy["clean_question"] = jeopardy["Question"].apply(normalize)
# Normalize the Answer column
jeopardy["clean_answer"] = jeopardy["Answer"].apply(normalize)

In [6]:
# Check first 5 rows
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams

In [7]:
print(jeopardy.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer', 'clean_question', 'clean_answer'],
      dtype='object')

In [8]:
# Function to normalize dollar values
def normalize_values(string):
    # remove punctuation in string
    string = re.sub("[^A-Za-z0-9\s]", "", string)
    try:
        string = int(string)
    except:
        string = 0
    return string

In [9]:
# Normalize the Value column
jeopardy["clean_value"] = jeopardy["Value"].apply(normalize_values)

In [10]:
# See top 5 rows
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200

In [11]:
# Convert Air Date column to datetime
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])
jeopardy.dtypes

Show Number                int64
Air Date          datetime64[ns]
Round                     object
Category                  object
Value                     object
Question                  object
Answer                    object
clean_question            object
clean_answer              object
clean_value                int64
dtype: object

In [12]:
# Function to count matches in question and answer
def count_matches(row):
    split_answer = row['clean_answer'].split(" ")
    split_question = row['clean_question'].split(" ")
    # Create a variable match_count
    match_count = 0
    if 'the' in split_answer:
        split_answer.remove('the')
    if len(split_answer) == 0:
        return 0
    for item in split_answer:
        if item in split_question:
            match_count += 1
    result = match_count / len(split_answer)
    return result

In [13]:
# Count how many times terms in clean_answer occur in clean_question
jeopardy["answer_in_question"] = jeopardy.apply(count_matches, axis=1)

In [14]:
# Examine dataframe
jeopardy.head(13)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200,0.000000
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200,0.000000
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200,0.000000
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200,0.000000
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200,0.000000
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant,in the title of an aesop fable this insect sha...,the ant,200,0.000000
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way,built in 312 bc to link rome the south of ita...,the appian way,400,0.000000
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan,no 8 30 steals for the birmingham barons 2306 ...,michael jordan,400,0.000000
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington,in the winter of 197172 a record 1122 inches o...,washington,400,0.000000
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel,this housewares store was named for the packag...,crate barrel,400,0.333333
10,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""And away we go""",Jackie Gleason,and away we go,jackie gleason,400,0.000000
11,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$400,Cows regurgitate this from the first stomach t...,the cud,cows regurgitate this from the first stomach t...,the cud,400,0.000000
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,In 1000 Rajaraja I of the Cholas battled to ta...,Ceylon (or Sri Lanka),in 1000 rajaraja i of the cholas battled to ta...,ceylon or sri lanka,600,0.000000

In [15]:
# Find the mean of answer_in_question column
jeopardy['answer_in_question'].mean()

0.060493257069335914

# Answer terms in the question
The answer only appears in the question about 6% of the time. This shows there is not much correlation between the words appearing in question and what we get in answer

In [16]:
# Find how often new questions are repeat of older ones
question_overlap = []
# Use set function here for empty set
terms_used = set()

# Sort Jeopardy by ascending air date
jeopardy = jeopardy.sort_values('Air Date')

for i, row in jeopardy.iterrows():
    split_question = row['clean_question'].split(" ")
    split_question = [q for q in split_question if len(q) > 5]
#     for word in split_question:
#         if len(word) < 6:
#             split_question.remove(word)
    match_count = 0
    for word in split_question:
        if word in terms_used:
            match_count += 1
        terms_used.add(word)
    if len(split_question) > 0:
        match_count = match_count / len(split_question)
    question_overlap.append(match_count)
jeopardy['question_overlap'] = question_overlap
jeopardy['question_overlap'].mean()

0.6894031359073217

# Question overlap

There is about 70% overlap between terms in new questions and terms in old questions. This only looks at a small set of questions, and it doesn't look at phrases, it looks at single terms. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

In [17]:
# Study questions that pertain to high value questions instead of 
# low value questions
jeopardy.head(2)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.0,0.0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.0,0.0

In [18]:
# Study questions that pertain to high value questions instead of 
# low value questions

# Function to separate low and high values
def high_and_low_values(row):
    value = 0
    if row['clean_value'] > 800:
        value = 1
    else: 
        value = 0
    return value

In [19]:
# Apply above function to each row in jeopardy
# Pass the function name inside apply
jeopardy["high_value"] = jeopardy.apply(high_and_low_values, axis=1)

In [20]:
# Examine dataframe first 25 rows
jeopardy.head(25)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap,high_value
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000,0.0,0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.000000,0.0,0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.000000,0.0,0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this ...,the grand canyon,200,0.000000,0.5,0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000,0.0,0
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333,0.0,0
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,200,0.000000,0.0,0
19307,10,1984-09-21,Double Jeopardy!,1789,$400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,400,0.142857,0.0,0
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,400,0.000000,0.0,0
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,$400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,400,0.000000,0.0,0
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,$400,Near or a purchase,by (buy),near or a purchase,by buy,400,0.000000,0.0,0
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,400,0.000000,0.0,0
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,manns chinese theatre,600,0.000000,0.0,0
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,$600,Where you can't go again in Thomas Wolfe title,home,where you cant go again in thomas wolfe title,home,600,0.000000,0.0,0
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,$600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,600,0.333333,0.0,0
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,600,0.000000,0.0,0
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tightrope walkers ...,niagara falls,800,0.000000,0.0,0
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,$800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irvings birdlike hero chased by the headless h...,ichabod crane,800,0.000000,0.0,0
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,"$1,000",Didn't see the fog,missed (mist),didnt see the fog,missed mist,1000,0.000000,0.0,1
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,800,0.000000,0.0,0
19320,10,1984-09-21,Double Jeopardy!,1789,$1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,1000,0.000000,0.0,1
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,1000,0.000000,0.0,1
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,$1000,Shaw's scorched saint,St. Joan of Arc,shaws scorched saint,st joan of arc,1000,0.000000,0.0,1
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,$1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,1000,0.000000,0.0,1
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000,0.0,0

In [21]:
# Create a function that takes a word and gets high_count and low_count
def count_function(word):
    low_count = 0
    high_count = 0
    for i, row in jeopardy.iterrows():
        split_question = row['clean_question'].split(" ")        
        #if word in split_question:
        if word in row['clean_question'].split(" "):
            if row['high_value'] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

# Empty list
observed_expected = []
terms_used = list(terms_used)
comparison_terms = terms_used[:5]

for term in comparison_terms:
    observed_expected.append(count_function(term))

In [22]:
# Examine previous function
print(observed_expected)

[(1, 1), (1, 1), (0, 1), (0, 1), (1, 0)]

In [23]:
# Compute chi squared

from scipy.stats import chisquare
import numpy as np

# shape[0] will calculate the row count
high_value_count = jeopardy[jeopardy['high_value'] == 1].shape[0]
#print(high_value_count)
low_value_count = jeopardy[jeopardy['high_value'] == 0].shape[0]
#print(low_value_count)
chi_squared = []
for obs in observed_expected:
    total = sum(obs)
    total_prop = total / jeopardy.shape[0]
    expected_high = total_prop * high_value_count
    expected_low = total_prop * low_value_count
    chi_sq = chisquare(expected_high, expected_low)
    chi_squared.append(chi_sq)
print(chi_squared)

[Power_divergenceResult(statistic=0.5102110065194813, pvalue=nan), Power_divergenceResult(statistic=0.5102110065194813, pvalue=nan), Power_divergenceResult(statistic=0.25510550325974063, pvalue=nan), Power_divergenceResult(statistic=0.25510550325974063, pvalue=nan), Power_divergenceResult(statistic=0.25510550325974063, pvalue=nan)]

# Chi-squared results

None of the terms had a significant difference in usage between high value and low value rows. Additionally, the frequencies were all lower than 5, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies.